<h1>Le Wagon Batch #1929</h1>

<br>

<h2>Welcome to our home page</h2>

<!--<a href="/about">Find out more</a>-->
<!--print ruby code-->
<!--pe-->
<%= link_to 'Find out more', about_path %>

<!--don't print ruby code-->
<!--er-->
<%  %>

<p>The time is</p>
<%=  Time.now %>
